*{
	color:white;
}
body{
	background-color: black;
	 margin-bottom: 60px;
}

.class{
	width: 100%;
}

header{
	margin-bottom: 5%;
}

#search{
	margin-bottom: 2%;
}

#result{
	font-size: 69px;
}

.copy, .copied{
	font-style: italic;
	margin-bottom: 17px;
}

span{
	cursor: pointer;
	margin-left: 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

@media (max-width: 992px) {
  #result {
    font-size: 46px;
  }
}

@media (max-height: 390px){
	footer{
		display: none;
	}
}